<div class="row sections-child container-fluid">
    <a id="allMenu" class="animate" onclick="allMenuClick()">
        <div class="row post-content">
            <div class="sectionsImg1"></div>
            <div class="sectionsLabel">
                <label>Меню</label>
            </div>
        </div>
    </a>
    <div class="row post-content">
        <div class="sectionsImg2"></div>
        <div class="sectionsLabel">
            <label>Официанты</label>
        </div>
    </div>
</div>
<div class="row sections-child container-fluid">
    <div class="row post-content">
        <div class="sectionsImg3"></div>
        <div class="sectionsLabel">
            <label>Отзывы</label>
        </div>
    </div>
    <div class="row post-content">
        <div class="sectionsImg4"></div>
        <div class="sectionsLabel">
            <label>Настройки</label>
        </div>
    </div>
</div>